<h2>Your cart</h2>

<table class="table">
    <tbody>
    {% for index, item in cart.list_items %}
        <tr>
            <td>{{ index + 1 }}</td>
            <td>
                {{ item.name }}
                {% if item.description %}
                    <br>
                    {{ item.description }}
                {% endif %}
                <br>
                <a href="javascript:"
                   data-request="onRemove"
                   data-request-data="id: '{{ item.id }}'"
                   data-request-confirm="Are you sure?"
                >
                    Remove
                </a>
            </td>
            <td class="text-right">{{ item.price | microcart_money }}</td>
            <td class="text-right">
                <select name="quantity"
                        data-request="onChangeQuantity"
                        data-request-data="id: '{{ item.id }}'"
                >
                    {% for i in range(1, 10) %}
                        <option value="{{ i }}" {{ i == item.quantity ? 'selected' }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="text-right">{{ item.total | microcart_money }}</td>
        </tr>
    {% endfor %}

    <tr>
        <td class="bold"></td>
        <td class="bold">Sub total</td>
        <td class="bold text-right"></td>
        <td class="bold text-right"></td>
        <td class="bold text-right">{{ cart.totals.subPostTaxes | microcart_money }}</td>
    </tr>

    {% for index, item in cart.service_fees %}
        <tr>
            <td></td>
            <td>{{ item.name }}</td>
            <td class="text-right">{{ item.price }}</td>
            <td class="text-right">{{ item.quantity }}</td>
            <td class="text-right">{{ item.total | microcart_money }}</td>
        </tr>
    {% endfor %}

    <tr>
        <td class="bold"></td>
        <td class="bold">Cart total</td>
        <td class="bold text-right"></td>
        <td class="bold text-right"></td>
        <td class="bold text-right">{{ cart.totals.cartPostTaxes | microcart_money }}</td>
    </tr>


    {% if cart.payment_method_id %}
        <tr>
            <td></td>
            <td colspan="3">{{ cart.payment_method.label | default(cart.payment_method.name) }}</td>
            <td class="text-right">{{ cart.totals.paymentPostTaxes | microcart_money }}</td>
        </tr>
    {% endif %}

    <tr>
        <td></td>
        <td>Grand total</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">{{ cart.totals.grandPostTaxes | microcart_money }}</td>
    </tr>
    </tbody>
</table>